:root {
  --primary: #41BBD9;
  --secondary: #99C24D;
  --tertiary: #F18F01;
  --fourth: #006E90;
  --fifth: #ADCAD6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tertiary)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  border-bottom: 5px solid black;
  background-color: var(--primary)
}

header h1 {
  cursor: pointer;
}

nav {
  display: flex;
}

nav h3 {
  margin: 20px;
  cursor: pointer;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  border: 2px solid black;
  text-align: center;
  margin: 50px;
  width: 80vw;
  background-color: var(--secondary);
}

.intro h2 {
  background-color: var(--primary);
  margin: 0;
  padding: 10px;
  border-bottom: 2px black solid;
}

.intro p {
  padding: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 50px;
  width: 25%;
  text-align: center;
}

.card-body {
  border-right: 2px black solid;
  border-left: 2px black solid;
  padding: 10px;
  background-color: var(--secondary)
}

.card-header {
  background-color: var(--primary);
  padding: 10px;
  margin: 0;
  border: 2px black solid;
}

.card-header h4 {
  margin: 5px;
}

.card-header p {
  margin: 0;
}

.parent {
  text-align: center;
  width: 90vw;
  background-color: var(--fourth);
  border-radius: 20px;
  border: 2px solid black;
  margin-bottom: 50px;
}

#profile {
  margin-top: 50px;
}

.profile-buttons {
  display: flex;
  justify-content: space-evenly;
}

.login-signup, .login-signup form, .post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.login-signup input, .post input {
  margin: 20px;
  width: 15vw;
}

::placeholder {
  text-align: center;
}

.login-signup button {
  margin: 20px;
}

.post-button {
  border: black 2px solid;
  background-color: var(--tertiary);
  margin-top: 40px;
  padding: 20px;
  cursor: pointer;
  font-size: 16px;
}

.post button {
  margin: 50px;
}

textarea {
  height: 10vh;
  width: 40vw;
  margin-top: 20px;
}

#rating {
  width: 2vw;
}