:root {
  --primary: #FFC6AC;
  --secondary: #EBA6A9;
  --tertiary: #002A32;
  --fourth: #C4A29E;
  --fifth: green;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  border-bottom: 5px solid black;
}

nav {
  display: flex;
}

nav h3 {
  margin: 20px;
  cursor: pointer;
}

.card {
  margin: 50px;
  width: 25%;
  text-align: center;
  border: 2px black solid;
}

.profile {
  text-align: center;
}

.login-signup, .login-signup form, .post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.login-signup input, .post input {
  margin: 20px;
  width: 15vw;
}

::placeholder {
  text-align: center;
}

.login-signup button {
  margin: 20px;
}

#flavor-text {
  text-align: center;
  margin: 50px;
  cursor: pointer;
}

.post button {
  margin: 50px;
}

textarea {
  height: 10vh;
  width: 40vw;
  margin-top: 20px;
}

#rating {
  width: 2vw;
}